<hr style="border:none;height:6px;background:#fff;margin:1em 0;">

<div style="text-align: center;">
  <h1>Empirical Asset Pricing with ML in Europe</h1>
  <h3>HEC Liege</h3>
  <h4><em>Lucas Dubois and Myriam Lamborelle</em></h4>
</div>

<hr style="border:none;height:6px;background:#fff;margin:1em 0;">

In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import matplotlib as mpl
from statsmodels.stats import diagnostic
from statsmodels.stats.sandwich_covariance import cov_hac
from statsmodels.stats.sandwich_covariance import se_cov
from stargazer.stargazer import Stargazer
from linearmodels.panel import PanelOLS
from linearmodels.panel import PooledOLS
import statsmodels.formula.api as smf
import warnings
import re

In [90]:
path="/Users/lucasdubois/Empirical_Asset_Pricing/DATA/"

In [92]:
offwhite = (230/255, 230/255, 220/255)
midnight = (0/255, 22/255, 36/255)
steelblue = (171/255, 193/255, 223/255)
primaryred = (127/255, 20/255, 22/255)
harmonizedblue =(48/255,88/255,140/255)

<hr style="border:none;height:4px;background:#fff;margin:1em 0;">

<div style="text-align: align;">
  <h2> <small>1</small>&nbsp;&nbsp;&nbsp;&nbsp;Database:</h2>
</div>

<hr style="border:none; border-top:2px dashed #fff; margin:1em 0;">

In [97]:
df = pd.read_excel(path + "stoxx600.xlsx")

df.rename(columns={df.columns[0]: "Date"}, inplace=True)
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")

In [98]:
df = df.loc[:, ~df.columns.str.startswith("#ERROR")]

In [99]:
df_long = df.melt(
    id_vars="Date",
    var_name="col",
    value_name="value"
)

In [100]:
df_long[["Stock", "Datatype"]] = (
    df_long["col"]
    .str.split(" - ", n=1, expand=True)
)

In [101]:
df_panel = (
    df_long
    .pivot_table(
        index=["Date", "Stock"],
        columns="Datatype",
        values="value"
    )
    .reset_index()
)

In [102]:
df_panel = df_panel.sort_values(["Stock", "Date"])

print(df_panel.head())
print(df_panel.tail())
print(df_panel.info())

Datatype       Date     Stock  DIVIDEND YIELD  MARKET VALUE  \
0        2005-01-01  3I GROUP            2.13       4085.77
435      2005-02-01  3I GROUP            2.00       4355.70
871      2005-03-01  3I GROUP            2.04       4279.01
1307     2005-04-01  3I GROUP            2.11       4134.96
1743     2005-05-01  3I GROUP            2.23       3913.99

Datatype  MRKT VALUE TO BOOK   PER  PRICE INDEX  TOT RETURN IND  \
0                       1.12  30.4        244.9          302.56
435                     1.20  32.4        261.0          322.55
871                     1.18  31.8        256.4          316.87
1307                    1.03  30.7        247.4          305.74
1743                    0.98  29.1        234.6          289.84

Datatype  TURNOVER BY VALUE  TURNOVER BY VOLUME
0                  340749.3             83500.9
435                338096.4             81321.8
871                446679.1            100759.9
1307               367390.2             85149.6
1743               341499.1             82397.3
Datatype       Date                   Stock  DIVIDEND YIELD  MARKET VALUE  \
130674   2025-08-01  ZURICH INSURANCE GROUP            5.03      81461.63
131272   2025-09-01  ZURICH INSURANCE GROUP            4.85      84564.38
131871   2025-10-01  ZURICH INSURANCE GROUP            4.91      83452.06
132470   2025-11-01  ZURICH INSURANCE GROUP            5.04      81256.69
133069   2025-12-01  ZURICH INSURANCE GROUP            4.85      84418.00

Datatype  MRKT VALUE TO BOOK   PER  PRICE INDEX  TOT RETURN IND  \
130674                  3.00  15.6       2140.6        12091.53
131272                  3.12  16.2       2222.2        12552.07
131871                  3.07  16.0       2192.9        12386.97
132470                  2.99  15.6       2135.3        12061.11
133069                  3.11  16.2       2218.3        12530.35

Datatype  TURNOVER BY VALUE  TURNOVER BY VOLUME
130674            2082217.0              3401.1
131272            2530846.0              3548.2
131871            2899719.0              3756.0
132470            2856944.0              3936.2
133069            2640802.0              3663.0
<class 'pandas.core.frame.DataFrame'>
Index: 133070 entries, 0 to 133069
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Date                133070 non-null  datetime64[ns]
 1   Stock               133070 non-null  object
 2   DIVIDEND YIELD      133023 non-null  float64
 3   MARKET VALUE        133024 non-null  float64
 4   MRKT VALUE TO BOOK  131217 non-null  float64
 5   PER                 122217 non-null  float64
 6   PRICE INDEX         133024 non-null  float64
 7   TOT RETURN IND      133024 non-null  float64
 8   TURNOVER BY VALUE   123194 non-null  float64
 9   TURNOVER BY VOLUME  132989 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 11.2+ MB
None

In [103]:
df_panel["Stock"].nunique()

599

In [104]:
df_panel["RET"] = (
    df_panel.groupby("Stock")["TOT RETURN IND"]
    .pct_change()
)

/var/folders/p5/t5sm1d6n089bmxvpwkzk17hr0000gn/T/ipykernel_9012/1495931112.py:3: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  .pct_change()